In [3]:
import numpy as np
import pandas as pd
import openpyxl as xl
import FILibExcel
import json

In [4]:

from perspective import Table, PerspectiveWidget

In [5]:
excel_path = r"../static/mock/AntiBio1.xlsx"

In [6]:
#wb = xl.load_workbook(filename=excel_path, read_only=True, keep_vba=False, data_only=True, keep_links=False)

In [7]:
tables_dict = FILibExcel.get_all_tables(file_name=excel_path)
df_lants = tables_dict["TLantTest"]['dataframe']
print("Initial count = ", len(df_lants))

worksheet name: Table
tables in worksheet: 0

worksheet name: Sheet1
tables in worksheet: 1
table name: TLantTest

worksheet name: Legend-Main
tables in worksheet: 1
table name: T_Legend_main

worksheet name: Bac
tables in worksheet: 1
table name: T_Bacteria
Initial count =  16

In [28]:
df_lants.dtypes

RE                            object
rRE, (VI),Ǻ1                 float64
cRE, отн. Ед                 float64
СТ                             int64
КЧ                             int64
КЧ2                            int64
рН                           float64
lgβ                          float64
Электронное строение RE3+     object
Цена                          object
dtype: object

In [29]:
schema = {
    "RE":str,
    "rRE, (VI),Ǻ1":float,
    "cRE, отн. Ед":float,
    "СТ":int,
    "КЧ":int,
    "КЧ2":int,
    "рН":float,
    "lgβ":float,
    "Электронное строение RE3+":str,
    "Цена":str
}

In [30]:

table = Table(schema, index="RE")
table.update(df_lants)

In [31]:
v1 = table.view()
print("v1 has {} rows and {} columns".format(v1.num_rows(), v1.num_columns()))
v1.to_df()

v1 has 16 rows and 10 columns

,RE,"rRE, (VI),Ǻ1","cRE, отн. Ед",СТ,КЧ,КЧ2,рН,lgβ,Электронное строение RE3+,Цена
0,Ca,1.00,2.20,7,6,6,5.63,None,400,2 100
1,Ce,1.01,2.61,1,11,11,4.20,0.9,601.43,32790
2,Dy,0.91,2.07,3,10,10,5.78,0.6,602.437,72000
3,Er,0.89,2.02,4,9,9,5.16,0.4,602.439,89500
4,Eu,0.95,1.81,2,10,10,5.56,0.8,602.434,134500
5,Gd,0.94,2.40,2,10,10,4.51,0.8,602.435.520,78450
6,Ho,0.90,2.12,3,9,9,5.96,0.5,602.438,16000
7,La,1.03,2.49,1,11,11,4.44,0.8,600.430.520,138000
8,Lu,0.86,2.68,7,9,9,5.50,0.6,602.4312.520,252000
9,Pr,0.99,2.24,2,10,10,4.51,0.9,602.43,98500
10,Sc,0.75,2.35,6,6,6,2.03,None,400.32,286300
11,Sm,0.96,1.90,2,10,10,5.08,0.9,602.433,97000
12,Tb,0.92,2.29,2,10,10,1.87,0.7,602.436,81650
13,Tm,0.88,2.03,4,9,9,5.54,0.4,602.431,44910
14,Y,0.90,2.52,2,10,10,5.92,0.4,500.42,15260
15,Yb,0.87,1.78,5,9,9,5.74,0.4,602.4311.520,84040

In [32]:
widget = PerspectiveWidget(table)
# f = open (r"f:\Repo\ChemML\TestVis.config.json", "r")
# config = json.load(f)
# widget.restore(**config)

In [33]:
widget

PerspectiveWidget(columns=['RE', 'rRE, (VI),Ǻ1', 'cRE, отн. Ед', 'СТ', 'КЧ', 'КЧ2', 'рН', 'lgβ', 'Электронное …

In [21]:
widget.save()

{'group_by': [],
 'split_by': [],
 'filter': [],
 'sort': [],
 'aggregates': {},
 'columns': ['RE',
  'rRE, (VI),Ǻ1',
  'cRE, отн. Ед',
  'СТ',
  'КЧ',
  'КЧ2',
  'рН',
  'lgβ',
  'Электронное строение RE3+',
  'Цена'],
 'expressions': [],
 'plugin': 'Datagrid',
 'plugin_config': {},
 'theme': None,
 'settings': True,
 'title': None}